<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ErpHookServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev-mwgso-api.marketamerica.com/erp-hook-micro/services/ErpHookService"
                binding="basicHttpBinding" bindingConfiguration="ErpHookServiceSoapBinding"
                contract="ErpService.ErpHook" name="ErpHookPort" />
        </client>
    </system.serviceModel>
</configuration>